
*.class
"C:\Users\Antonio Perez\Desktop\Minecraft Tools\Not Really\Minecraft Modding\Forge\.gradle"
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
.classpath
.settings
eclipse
gradle
.project
build.gradle
*.txt
*.bat
gradlew
bin

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
